# Node modules (dependencies)
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# OS system files
.DS_Store
Thumbs.db

# IDE/editor folders and settings
.vscode/
.idea/

# Build / cache folders
dist/
build/
.cache/

# Sequelize CLI files (if you decide to use it later)
*.sqlite
*.sequelize
migrations/
seeders/

# Test output
coverage/

features.txt